
body {
  background-color: DarkSeaGreen;
  color: Black;
  font-family: Calibri; 
}

#title {
  text-align: center;
}

#image {
  max-width: 60%;
  height: auto;
  display: block;
  text-align: center;
}

.parent {
  width: 100%;
  min-height: 100vh;
  align-items: center;
}


#img-div {
  text-align: -webkit-center;
}